*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'kumbh sans';
    background-color: #f4f4f4;
    color: #333;
}


/* navigation Bar */
.navbar{
    background-color: black;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.navlinks a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    transition: .4s ease-in-out all;
    padding-bottom: 10px;
}

.navlinks a:hover{
    color: red;
    border-bottom: 2px solid red;
}

.navlinks a:focus{
    color: red;
    border-bottom: 2px solid red;
}

.nav__btn button{
    width: 100px;
    height: 40px;
    background-color: red;
    color: #fff;    
    border: none;
    border-radius: 10px;
    transition: .4s ease-in-out all;
}

.nav__btn button:hover{
    background-color: #ee2b2b;
    cursor: pointer;
    transform: translateY(-5px);
}

.nav__btn button:active{
    transform: translateY(0);
}

/* content */
.content{
    padding: 20px;
}

.welcome{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Kapsabet_High_Admin_Block2.jpg');
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

.welcome__content h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.welcome__content p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #fff;
}

.welcome__content li a{
    text-decoration: none;
    color: yellow;
    margin: 40px;
}


.welcome__content a button{
    width: 150px;
    height: 50px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: .4s ease-in-out all;
    font-size: 1rem;
    font-weight: 600;
}

.welcome__content a button:hover{
    background-color: #ee2b2b;
    cursor: pointer;
    transform: translateY(-5px);
}

.kapsabet{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.kapsabet h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.kapsabet p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}
